.tab-pane {padding: 10px;}

header{background-color: darkred; color: #FFFFFF; padding-top:30px; text-align:center;margin-left:auto;
    margin-right:auto; height: 120px; padding-left:3em;}

#document{width:80%; margin-left:auto; margin-right:auto; background-color:#ff2929; min-width:960px;
    max-width:2048px; background-image: linear-gradient(#FFFFFF, #ff2929) }

#pizzaImg{float:right; margin-right: 100px}

header{font-family: "Brush Script MT", "Lucida Bright", "Copperplate Gothic Bold", cursive}

#pizzaHeader{font-family: "Cambria", cursive}

#deliveryInfo{font-family: "Cambria", cursive}

#orderConfirmation{font-family: "Cambria", cursive}

#step1{font-family: "Times New Roman", serif}

#step2{font-family: "Times New Roman", serif}

#step3{font-family: "Times New Roman", serif}